extends layout

block header
  .page-header#header
    .row
      .col-xs-6
        h3 Coin
          span(class='fa fa-bitcoin')
          span ot 
            //small#currency Currency now 
            //small#percentageChange Today percentage 
      //.col-xs-3
      .col-xs-6
        h3
          form(class='form-inline' role='form' class='login pull-right')
            div(class='form-group input-group-sm')
              input(type='text', class='form-control', placeholder='Please input YourApiKey here \u2026')
              input(type='text', class='form-control', placeholder='and here YourSecretKey, and then press \u23CE')
              //button.btn.btn-xs.btn-info(type='button') Login

block manualTrade
  h4(id='toggleManualBuy') 
    div(class='fa fa-calculator')  Calculate profit and manualy buy or sell some coins. 
      small(class='fa fa-toggle-on') 
  .row.manualTrade
    .col-xs-6.col-sm-3
      p Calculate the profit with buying some coins:
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control calcFields' id='buyPriceCalc', placeholder='Amount of coins to buy ..')
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control calcFields' id='priceCalc', placeholder='At the price ...')
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control calcFields' id='sellPriceCalc', placeholder='At the price ...')
    .col-xs-6.col-sm-3.calcResults 
      p Results of calculation:
      p
        div Profit treshold:
          span(id='treshold')
      p
        div Money spend:
          span(id='moneySpend')
      p
        div Money recieved:
          span(id='moneyRcivd')
      p
        div Profit / Loss:
          span(id='profitLoss')
    .col-xs-6.col-sm-3
      p Buy coins
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control', id='buyAmount', placeholder='Amount of coins …')
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control', id='buyPrice', placeholder='Price …')
      p
        button.btn.btn-sm.btn-info.col-lg-12(id='buyButton' type='button') Buy
    .col-xs-6.col-sm-3
      p Sell coins
        p(class='input-group input-group-sm col-lg-12')
          input(type='text', class='form-control', id='sellAmount', placeholder='Amount of coins …')
        p(class='input-group input-group-sm col-lg-12')
          input(type='text', class='form-control', id='sellPrice', placeholder='Price …')
        p
          button.btn.btn-sm.btn-info.col-lg-12(id='sellButton' type='button') Sell

block chart
  h4(id='toggleChart') 
    div(class='fa fa-line-chart')  Embedded chart 
      small(class='fa fa-toggle-on') 
  p
    div#embeddedChart hello


block info
  h4(id='toggleInfo')
    div(class='fa fa-gears')  Information 
      small(class='fa fa-toggle-on') 
  .row.infoContainer
    .col-xs-6.col-sm-3
      div Currency is: 
          span(id='currency')
      p
        div Percentage change:
          span(id='percentageChange')
      p
        div Money recieved:
          span(class='moneyRcivd')
      p
        div Profit / Loss:
          span(class='profitLoss')
    .col-xs-6.col-sm-3
        div(class='input-group input-group-sm col-lg-12')  
          label.input-group-addon Amount of orders:
          input(type='text', class='form-control', id='wqewqe', placeholder='Amount of coins 0…')
        p
          div(class='input-group input-group-sm col-lg-12')  
            label.input-group-addon Count of orders:
            input(type='text', class='form-control', id='kjsdnvnqw', placeholder='Amount of coins 0…')
        p
          div(class='input-group input-group-sm col-lg-12')  
            label.input-group-addon Time to live:
            input(type='text', class='form-control', id='qwqwe', placeholder='Amount of coins 0…')
    .col-xs-6.col-sm-6
      div(style="height: 120px; overflow-y: scroll;")
        table(class="table table-striped table-condensed table-hover" id="orderTable" style="width:100%;")
          tr.header
            th Loading orders table...
