extends layout

block header
  //h1= title
  //p Welcome to #{title}
  .page-header#header
    .row
      .col-xs-3
        h3 Coin
          span(class='fa fa-bitcoin')
          span ot 
          p
            small#currency Currency (LTC/USD) at the moment
      .col-xs-3
      .col-xs-6
        h3
          form(class='form-inline' role='form' class='login pull-right')
            div(class='form-group input-group-sm')
              input(type='text', class='form-control', placeholder='Please input YourApiKey here \u2026')
              input(type='text', class='form-control', placeholder='and here YourSecretKey, and then press \u23CE')
              //button.btn.btn-xs.btn-info(type='button') Login

block manualTrade
  h4(id='toggleManualBuy') 
    div(class='fa fa-calculator')  Calculate profit and manualy buy or sell some coins. 
      small(class='fa fa-toggle-on') 
  .row.manualTrade
    .col-xs-6.col-sm-3
      p Calculate the profit with buying some coins:
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control calcFields' id='buyPriceCalc', placeholder='Amount of coins to buy ..')
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control calcFields' id='priceCalc', placeholder='At the price ...')
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control calcFields' id='sellPriceCalc', placeholder='At the price ...')
    .col-xs-6.col-sm-3.calcResults 
      p Results of calculation:
      p
        div Profit treshhold:
          span(id='treshHold')
      p
        div Money spend:
          span(id='moneySpend')
      p
        div Money recieved:
          span(id='moneyRcivd')
      p
        div Profit / Loss:
          span(id='profitLoss')
    .col-xs-6.col-sm-3
      p Buy coins
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control', id='buyAmount', placeholder='Amount of coins …')
      p(class='input-group input-group-sm col-lg-12')
        input(type='text', class='form-control', id='buyPrice', placeholder='Price …')
      p
        button.btn.btn-sm.btn-info.col-lg-12(type='button') Buy
    .col-xs-6.col-sm-3
      p Sell coins
        p(class='input-group input-group-sm col-lg-12')
          input(type='text', class='form-control', id='sellAmount', placeholder='Amount of coins …')
        p(class='input-group input-group-sm col-lg-12')
          input(type='text', class='form-control', id='sellPrice', placeholder='Price …')
        p
          button.btn.btn-sm.btn-info.col-lg-12(type='button') Sell

block autorules
  h4(id='toggleRules') 
    div(class='fa fa-gears')  Automatic rules 
      small(class='fa fa-toggle-on')
  p.autoRules
    textarea(class='form-control' rows="5")

block chart
  h4(id='toggleChart') 
    div(class='fa fa-line-chart')  Embedded chart 
      small(class='fa fa-toggle-on') 
  p
    div#embeddedChart hello


//block calculator
  h4(id='toggleCalculator') Calculator 
  .row.calcInputs
    .col-xs-6
      p Calculate the profit with buying some coins:
      p(class='input-group input-group-sm col-lg-6')
        input(type='text', class='form-control calcFields' id='buyPriceCalc', placeholder='Amount of coins to buy ..')
      p(class='input-group input-group-sm col-lg-6')
        input(type='text', class='form-control calcFields' id='priceCalc', placeholder='At the price ...')
      p(class='input-group input-group-sm col-lg-6')
        input(type='text', class='form-control calcFields' id='sellPriceCalc', placeholder='At the price ...')
    .col-xs-6.calcResults 
      p Results of calculation:
      p
        div Profit treshhold:
          span(id='treshHold')
      p
        div Money spend:
          span(id='moneySpend')
      p
        div Money recieved:
          span(id='moneyRcivd')
      p
        div Profit / Loss:
          span(id='profitLoss')
