doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lumen.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(data-main='javascripts/app', src='javascripts/requirejs/require.js')
    script(data-main='javascripts/app', src='https://d33t3vvu2t2yu5.cloudfront.net/tv.js')
  body
    .container
      block header
      block info
      block chart
      block manualTrade
      block calculator
      block autorules