doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(data-main='javascripts/app', src='javascripts/requirejs/require.js')
  body
    block content
