.calcResults span {
    padding-left: 10px;
}
/*Initially hide modules DEVELOPMENT ONLY*/

.calcInputs, .manualTrade, #embeddedChart, .autoRules {
/*    display: none;
*/}

#widget-container {
    border: none;
}

.login input.form-control {
    margin-right: 5px;
    width: 260px;
}
#header {
    margin: 0;
}